Repository rising-dragon360/web3_blockchain: changes, and which Codecov flags are due for each by the changed paths.
All: abi, besu

initial commit
  eea/src/main/java/org/web3j/protocol/eea/crypto/PrivateTransactionEncoder.java
  eea/src/main/java/org/web3j/protocol/eea/crypto/RawPrivateTransaction.java
  eea/src/main/java/org/web3j/protocol/eea/crypto/RawPrivateTransaction1559.java
Due: none

code refractored and added eip1559 private tx class
  abi/src/main/java/org/web3j/abi/TypeDecoder.java
  besu/src/main/java/org/web3j/protocol/besu/privacy/OnChainPrivacyTransactionBuilder.java
  besu/src/main/java/org/web3j/tx/PrivateTransactionManager.java
  eea/src/main/java/org/web3j/protocol/eea/crypto/PrivateTransactionDecoder.java
  eea/src/main/java/org/web3j/protocol/eea/crypto/PrivateTransactionEncoder.java
  eea/src/main/java/org/web3j/protocol/eea/crypto/PrivateTxSignServiceImpl.java
  eea/src/main/java/org/web3j/protocol/eea/crypto/RawPrivateTransaction.java
  eea/src/main/java/org/web3j/protocol/eea/crypto/SignedRawPrivateTransaction.java
  eea/src/main/java/org/web3j/protocol/eea/crypto/transaction/type/IPrivateTransaction.java
  eea/src/main/java/org/web3j/protocol/eea/crypto/transaction/type/LegacyPrivateTransaction.java
  eea/src/main/java/org/web3j/protocol/eea/crypto/transaction/type/PrivateTransaction1559.java
  eea/src/main/java/org/web3j/protocol/eea/crypto/transaction/type/PrivateTransactionType.java
  eea/src/test/java/org/web3j/protocol/eea/crypto/PrivateTransactionDecoderTest.java
  eea/src/test/java/org/web3j/protocol/eea/crypto/PrivateTransactionEncoderTest.java
  integration-tests/src/test/java/org/web3j/protocol/besu/BesuPrivacyQuickstartIntegrationTest.java
Due: abi, besu

added privateTx EIP1559
  besu/src/main/java/org/web3j/tx/PrivateTransactionManager.java
  besu/src/test/java/org/web3j/tx/PrivateTransactionManagerTest.java
  eea/src/main/java/org/web3j/protocol/eea/crypto/PrivateTransactionDecoder.java
  eea/src/main/java/org/web3j/protocol/eea/crypto/PrivateTransactionEncoder.java
  eea/src/main/java/org/web3j/protocol/eea/crypto/transaction/type/PrivateTransaction1559.java
  eea/src/main/java/org/web3j/protocol/eea/crypto/transaction/type/PrivateTransactionType.java
  eea/src/test/java/org/web3j/protocol/eea/crypto/PrivateTransactionDecoderTest.java
  eea/src/test/java/org/web3j/protocol/eea/crypto/PrivateTransactionEncoderTest.java
Due: besu

fixed comments and breaking changes
  besu/src/main/java/org/web3j/protocol/besu/privacy/OnChainPrivacyTransactionBuilder.java
  besu/src/main/java/org/web3j/tx/PrivateTransactionManager.java
  eea/src/main/java/org/web3j/protocol/eea/crypto/PrivateTransactionDecoder.java
  eea/src/main/java/org/web3j/protocol/eea/crypto/PrivateTransactionEncoder.java
  eea/src/main/java/org/web3j/protocol/eea/crypto/PrivateTxSignServiceImpl.java
  eea/src/main/java/org/web3j/protocol/eea/crypto/SignedRawPrivateTransaction.java
  eea/src/main/java/org/web3j/protocol/eea/crypto/transaction/type/PrivateTransaction1559.java
  eea/src/main/java/org/web3j/protocol/eea/crypto/transaction/type/RawPrivateTransaction.java
  eea/src/test/java/org/web3j/protocol/eea/crypto/PrivateTransactionDecoderTest.java
  eea/src/test/java/org/web3j/protocol/eea/crypto/PrivateTransactionEncoderTest.java
  integration-tests/src/test/java/org/web3j/protocol/besu/BesuPrivacyQuickstartIntegrationTest.java
Due: besu

changed IPrivateTransaction interface logic and removed PrivateTransactionType
  besu/src/main/java/org/web3j/protocol/besu/privacy/OnChainPrivacyTransactionBuilder.java
  besu/src/main/java/org/web3j/tx/PrivateTransactionManager.java
  eea/src/main/java/org/web3j/protocol/eea/crypto/PrivateTransactionDecoder.java
  eea/src/main/java/org/web3j/protocol/eea/crypto/PrivateTransactionEncoder.java
  eea/src/main/java/org/web3j/protocol/eea/crypto/PrivateTxSignServiceImpl.java
  eea/src/main/java/org/web3j/protocol/eea/crypto/RawPrivateTransaction.java
  eea/src/main/java/org/web3j/protocol/eea/crypto/SignedRawPrivateTransaction.java
  eea/src/main/java/org/web3j/protocol/eea/crypto/transaction/type/IPrivateTransaction.java
  eea/src/main/java/org/web3j/protocol/eea/crypto/transaction/type/LegacyPrivateTransaction.java
  eea/src/main/java/org/web3j/protocol/eea/crypto/transaction/type/PrivateTransaction1559.java
  eea/src/main/java/org/web3j/protocol/eea/crypto/transaction/type/PrivateTransactionType.java
  eea/src/test/java/org/web3j/protocol/eea/crypto/PrivateTransactionDecoderTest.java
  eea/src/test/java/org/web3j/protocol/eea/crypto/PrivateTransactionEncoderTest.java
  integration-tests/src/test/java/org/web3j/protocol/besu/BesuPrivacyQuickstartIntegrationTest.java
Due: besu

removed a comment
  eea/src/main/java/org/web3j/protocol/eea/crypto/PrivateTransactionEncoder.java
Due: none

added EIP1559 signed tx decoding
  eea/src/main/java/org/web3j/protocol/eea/crypto/PrivateTransactionDecoder.java
  eea/src/main/java/org/web3j/protocol/eea/crypto/SignedRawPrivateTransaction.java
  eea/src/test/java/org/web3j/protocol/eea/crypto/PrivateTransactionDecoderTest.java
Due: none

add: accessList to 1559 tx
  crypto/src/main/java/org/web3j/crypto/RawTransaction.java
  crypto/src/main/java/org/web3j/crypto/transaction/type/Transaction1559.java
Due: none

fix: 1559 tx rlp encoding with access list
  crypto/src/main/java/org/web3j/crypto/transaction/type/Transaction1559.java
  crypto/src/main/java/org/web3j/crypto/transaction/type/Transaction2930.java
Due: none

update logback
  build.gradle
Due: none

fix typo
  CONTRIBUTING.md
Due: none

fix typo
  core/src/main/java/org/web3j/tx/RawTransactionManager.java
Due: none

fix typo
  crypto/src/main/java/org/web3j/crypto/Secp256k1JWK.java
Due: none

fix typo
  integration-tests/src/test/resources/quorum-test-network/config/tessera/Dockerfile
Due: none

fix typo
  integration-tests/src/test/resources/quorum-test-network/logstash/Dockerfile
Due: none

initial commit for EIP-4844
  crypto/src/main/java/org/web3j/crypto/RawTransaction.java
  crypto/src/main/java/org/web3j/crypto/TransactionDecoder.java
  crypto/src/main/java/org/web3j/crypto/TransactionEncoder.java
  crypto/src/main/java/org/web3j/crypto/transaction/type/Transaction4844.java
  crypto/src/main/java/org/web3j/crypto/transaction/type/TransactionType.java
Due: none

Fixes for PR-EIP1559 accessList
  crypto/src/main/java/org/web3j/crypto/RawTransaction.java
  crypto/src/main/java/org/web3j/crypto/TransactionDecoder.java
  crypto/src/main/java/org/web3j/crypto/transaction/type/Transaction1559.java
  crypto/src/main/java/org/web3j/crypto/transaction/type/Transaction2930.java
  crypto/src/test/java/org/web3j/crypto/TransactionDecoderTest.java
Due: none

added blob, commitment, proof support
  abi/src/main/java/org/web3j/abi/datatypes/Bytes.java
  besu/build.gradle
  codegen/build.gradle
  core/build.gradle
  crypto/build.gradle
  crypto/src/main/java/org/web3j/crypto/Blob.java
  crypto/src/main/java/org/web3j/crypto/BlobUtils.java
  crypto/src/main/java/org/web3j/crypto/RawTransaction.java
  crypto/src/main/java/org/web3j/crypto/TransactionDecoder.java
  crypto/src/main/java/org/web3j/crypto/transaction/type/Transaction4844.java
  eea/build.gradle
  geth/build.gradle
  hosted-providers/build.gradle
  parity/build.gradle
Due: abi, besu

added trsuted setup file
  besu/build.gradle
  codegen/build.gradle
  core/build.gradle
  crypto/build.gradle
  crypto/src/main/java/org/web3j/crypto/BlobUtils.java
  crypto/src/main/java/org/web3j/crypto/transaction/type/Transaction4844.java
  crypto/src/main/resources/trusted_setup.txt
  eea/build.gradle
  geth/build.gradle
  hosted-providers/build.gradle
  integration-tests/build.gradle
  parity/build.gradle
Due: besu

fixed rlp decoding and encoding
  crypto/src/main/java/org/web3j/crypto/Blob.java
  crypto/src/main/java/org/web3j/crypto/RawTransaction.java
  crypto/src/main/java/org/web3j/crypto/TransactionDecoder.java
  crypto/src/main/java/org/web3j/crypto/transaction/type/Transaction4844.java
Due: none

consensys repo added to main gradle.build
  besu/build.gradle
  build.gradle
  codegen/build.gradle
  core/build.gradle
  crypto/build.gradle
  eea/build.gradle
  geth/build.gradle
  hosted-providers/build.gradle
  integration-tests/build.gradle
  parity/build.gradle
Due: besu

tests added, failing build
  abi/src/main/java/org/web3j/abi/datatypes/Bytes.java
  crypto/build.gradle
  crypto/src/main/java/org/web3j/crypto/Blob.java
  crypto/src/main/java/org/web3j/crypto/BlobUtils.java
  crypto/src/main/java/org/web3j/crypto/RawTransaction.java
  crypto/src/main/java/org/web3j/crypto/TransactionDecoder.java
  crypto/src/main/java/org/web3j/crypto/transaction/type/Transaction4844.java
  crypto/src/test/java/org/web3j/crypto/BlobUtilsTest.java
  crypto/src/test/java/org/web3j/crypto/TransactionDecoderTest.java
  crypto/src/test/java/org/web3j/crypto/TransactionEncoderTest.java
Due: abi

added all tests, tested on Sepolia network
  build.gradle
  crypto/src/main/java/org/web3j/crypto/BlobUtils.java
  crypto/src/main/java/org/web3j/crypto/SignedRawTransaction.java
  crypto/src/main/java/org/web3j/crypto/TransactionDecoder.java
  crypto/src/main/java/org/web3j/crypto/TransactionEncoder.java
  crypto/src/main/java/org/web3j/crypto/transaction/type/Transaction4844.java
  crypto/src/test/java/org/web3j/crypto/BlobUtilsTest.java
  crypto/src/test/java/org/web3j/crypto/TransactionDecoderTest.java
  crypto/src/test/java/org/web3j/crypto/TransactionEncoderTest.java
  crypto/src/test/resources/blob_data/blob_data_1.txt
  crypto/src/test/resources/blob_data/blob_data_2.txt
  crypto/src/test/resources/blob_data/blob_tx_1.txt
  crypto/src/test/resources/blob_data/blob_tx_2.txt
  crypto/src/test/resources/blob_data/blob_tx_encoded.txt
  crypto/src/test/resources/blob_data/blob_tx_signed.txt
Due: none

fixed java dump crash
  abi/src/main/java/org/web3j/abi/datatypes/Bytes.java
  build.gradle
  crypto/build.gradle
  crypto/src/main/java/org/web3j/crypto/BlobUtils.java
  crypto/src/main/java/org/web3j/crypto/transaction/type/Transaction4844.java
  crypto/src/test/java/org/web3j/crypto/BlobUtilsTest.java
Due: abi

fixed comments, and loading of KZG lib
  crypto/src/main/java/org/web3j/crypto/Blob.java
  crypto/src/main/java/org/web3j/crypto/BlobUtils.java
  crypto/src/main/java/org/web3j/crypto/transaction/type/Transaction4844.java
  crypto/src/test/java/org/web3j/crypto/BlobUtilsTest.java
Due: none

load lib fix and simplification
  crypto/src/main/java/org/web3j/crypto/BlobUtils.java
  crypto/src/test/java/org/web3j/crypto/BlobUtilsTest.java
Due: none

bump version to 4.11.0
  build.gradle
  gradle.properties
Due: none

initial commit for blob base fee
  core/build.gradle
  core/src/main/java/org/web3j/protocol/core/methods/request/Transaction.java
  core/src/main/java/org/web3j/protocol/core/methods/response/EthBlock.java
  core/src/main/java/org/web3j/protocol/core/methods/response/Transaction.java
  crypto/src/main/java/org/web3j/crypto/transaction/type/Transaction4844.java
Due: none

update snapshot
  README.md
  build.gradle
  gradle.properties
Due: none

new approach to calculate blobBaseFee
  core/build.gradle
  core/src/main/java/org/web3j/protocol/Web3j.java
  core/src/main/java/org/web3j/protocol/core/BlobFee.java
  core/src/main/java/org/web3j/protocol/core/JsonRpc2_0Web3j.java
  core/src/main/java/org/web3j/protocol/core/methods/request/Transaction.java
  core/src/main/java/org/web3j/protocol/core/methods/response/EthBlock.java
  core/src/main/java/org/web3j/protocol/core/methods/response/Transaction.java
  core/src/main/java/org/web3j/protocol/core/methods/response/TransactionReceipt.java
  core/src/test/java/org/web3j/protocol/core/ResponseTest.java
  core/src/test/java/org/web3j/protocol/core/methods/response/EthBlockTest.java
  crypto/src/main/java/org/web3j/crypto/transaction/type/Transaction4844.java
Due: none

added tests and finalized methods
  core/build.gradle
  core/src/main/java/org/web3j/protocol/core/JsonRpc2_0Web3j.java
  core/src/main/java/org/web3j/protocol/core/methods/response/EthBlock.java
  core/src/test/java/org/web3j/protocol/core/RequestTest.java
  core/src/test/java/org/web3j/protocol/core/ResponseTest.java
  integration-tests/src/test/java/org/web3j/protocol/core/CoreIT.java
Due: none

add parentBeaconBlockRoot field
  core/src/main/java/org/web3j/protocol/core/methods/response/EthBlock.java
  core/src/test/java/org/web3j/protocol/core/ResponseTest.java
  core/src/test/java/org/web3j/protocol/core/methods/response/EthBlockTest.java
Due: none

fix versionedHashes to blovVersionedHashes
  core/src/main/java/org/web3j/protocol/core/methods/response/EthBlock.java
  core/src/main/java/org/web3j/protocol/core/methods/response/Transaction.java
  core/src/test/java/org/web3j/protocol/core/ResponseTest.java
Due: none

Path conditions:
  abi: any of: abi/
  besu: any of: besu/
